name: Sync to temporalgrammar

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Push to temporalgrammar
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.SYNC_TOKEN }}
        with:
          source-directory: '.'
          destination-github-username: 'alexsabine'
          destination-repository-name: 'temporalgrammar'
          target-branch: main
          create-target-branch-if-needed: true
